.news-card-list {
    background-color: #F5F6F7;
    padding: 80px 0;
    width: 100%;
}

.news-card-list__container {
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.news-card-list__title {
    font-family: 'Roboto-slab', serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    margin-top: 0;
    margin-bottom: 60px;
}

.news-card-list__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    margin: 0;
    padding: 0;
}

.news-card-list__more-button {
    border: none;
    width: 288px;
    height: 64px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-top: 64px;
    align-self: center;
    cursor: pointer;
    background-color: #fff;
    border-radius: 80px;
}

.news-card-list__more-button:hover {
    background-color: #E8E8E8;
}

@media screen and (max-width: 768px) {

    .news-card-list {
        padding: 40px 0;
    }

    .news-card-list__container {
        max-width: calc(100% - 40px * 2);
    }

    .news-card-list__title {
        margin-bottom: 32px;
        font-size: 30px;
        line-height: 34px;
    }

    .news-card-list__grid {
        column-gap: 8px;
        row-gap: 8px;
    }

    .news-card-list__more-button {
        width: 240px;
        height: 56px;
        margin-top: 48px;
    }

}

@media screen and (max-width: 320px) {

    .news-card-list {
        padding: 32px 0 24px;
    }

    .news-card-list__grid {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .news-card-list__container {
        max-width: calc(100% - 16px * 2);
    }

    .news-card-list__more-button {
        margin-top: 21px;
        width: 100%;
        padding: 0;
    }
}