Main {
  min-height: 100vh;
}

.main__wrapper {
  min-height: 100vh;
  background: url('../../images/bg-phone.png') no-repeat;
  position: relative;
}

@media screen and (min-width: 1000px) {
  .main__wrapper {
    background-position: top center;
    background-size: auto;
  }
}

@media screen and (min-width: 767px) {
  .main__wrapper {
    background: url('../../images/bg.png') no-repeat;
    background-position: top center;
    background-size: auto 400px;
  }
}

@media screen and (min-width: 321px) {
  .main__wrapper {
    background: url('../../images/bg.png') no-repeat;
    background-position: top center;
  }
}