.search-form {
    margin-top: 122px;
    text-align: center;
    padding: 0 16px;
  }
  
  .search-form__input {
    background-color: white;
    font-family: Roboto, sans-serif;
    border: #d1d2d6 1px solid;
    border-radius: 100px;
    padding: 17px 16px;
    width: 100%;
    min-height: 56px;
    display: block;
    margin: 0 auto 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  
  .search-form__submit {
    background-color: #2f71e5;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 100px;
    border: none;
    width: 100%;
    min-height: 56px;
    display: block;
    margin: auto;
    color: white;
  }