.footer {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer__container {
    max-height: 100%;
    width: calc(100% - 104px * 2);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin-top: 32px;
    margin-bottom: 16px;

}

.footer__copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    color: #b6bcbf;
    margin: 0;
    padding-right: 425px;
}

.footer__icon {
    width: 20px;
    height: 20px;
    margin-left: 30px;
}

.footer__icon:hover {
    opacity: 0.8;
}

.footer__link {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #1a1b22;
    cursor: pointer;
    text-decoration: none;
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__links,
.footer__icons {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {

    .footer {
        max-height: 64px;
    }

    .footer__container {
        width: calc(100% - 40px * 2);
        margin-bottom: 18px;
    }

    .footer__copyright {
        margin-right: 105px;
        padding-right: 0;
    }

    .footer__link {
        margin: 0;
        margin-right: 40px;
    }

    .footer__icon {
        margin-left: 0;
    }

    .footer__icons a:last-child .footer__icon {
        margin-left: 35px;
    }

}


@media screen and (max-width: 320px) {

    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 20px 0;
        max-height: fit-content;
        height: auto;
    }

    .footer__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        width: calc(100% - 16px * 2);
        align-items: center;
        justify-items: center;
        gap: 10px;
        margin: auto;
    }

    .footer__copyright {
        grid-row: 2;
        grid-column: 1 / span 2;
        margin: auto;
    }

    .footer__links {
        grid-row: 1;
        grid-column: 1;
        justify-self: start;
        flex-direction: column;
    }

    .footer__link {
        margin-right: 0;
        margin-bottom: 30px;
        align-self: flex-start;
    }

    .footer__icons {
        grid-row: 1;
        grid-column: 2;
        justify-self: end;
        align-self: first baseline;
    }

    .footer__icon {
        margin-left: 30px;
    }


}