.user-menu__overlay {
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: relative;
    z-index: 1;
}

.user-menu {
    background-color: #1A1B22;
    color: #ffffff;
    padding: 16px 16px 24px 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

}

.user-menu_dark {
    background-color: #ffffff;
    color: #1A1B22;

}